<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SpringSecurity:Home Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p th:text="'Welcome Home ' + ${name} + '!'" />

	<ul>
		<li>Added Spring Thymeleaf Template Engine dependency</li>
		<li>Created home.html in templates under src/main/resource</li>
		<li>At html header added the xmlns:th thimeleaf name spacing</li>
		<li>Modified HomeResource.java controller to redirect on
			successful authentication to home template</li>
	</ul>
</body>
</html>